<nav class="navbar navbar-expand-md bg-dark navbar-white fixed-top">
    <a class="navbar-brand" href="#"><b>Sklep komputerowy</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="btn btn-light rounded-pill py-2 btn-block" routerLink="/home"><b>Strona główna</b></a>
        </li>
     
        <li class="nav-item">
          <a class="btn btn-light rounded-pill py-2 btn-block position-right" routerLink="/cart"><b>Koszyk</b></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-light rounded-pill py-2 btn-block position-right" routerLink="/login"><b>Logowanie</b></a>
        </li>
        <li class="nav-item">
          <a class="btn btn-light rounded-pill py-2 btn-block position-right" routerLink="/registration"><b>Rejestracja</b></a>
        </li>
        <li class="nav-item dropdown">
          <a class="btn btn-light rounded-pill py-2 btn-block position-right dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <b>Rozwiń</b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/contact-list">Kontakt</a>
            <a class="dropdown-item" routerLink="/contact-create">Wystaw opinię</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://www.youtube.com/watch?v=v2AC41dglnM">Fajna muzyczka</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  