
<footer class="page-footer font-small teal pt-4">

    <div class="container-fluid text-center text-md-left"> 
     
      <div class="row">
      
        <div class="col-md-6 mt-md-0 mt-3">
     
          <h5 class="text-uppercase font-weight-bold">Random text1</h5>
          <p>Wtém ręki znać Białopiotrowiczem moich. Upiera ożył sejmik grosza maruda Nazywa liczna Białopiotrowiczem mojego. 
              Skarb Mickiewiczów takim nieodstąpił Godna przestraszone koszt dawno przysunąwszy cudem nieczynności obora gdzie.
               Jabłonowski zamku przepraszał francuskiéj swéj Panem owoce niezdradzić Przez uśmiéchał Szmer wzniesionemi. 
               Każe kołkiem sobie choć moich poręczu szepcąc dowcipne Turka obrazów. Sprawy Kościuszkowskie żołniersczyzny pracę 
               Niesiołowskiemu najpiękniejszym daleko wzrost nierostrzygniony. </p>
  
        </div>

  
        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-6 mb-md-0 mb-3">

          <h5 class="text-uppercase font-weight-bold">Random text2</h5>
          <p>Swary Niesiołowskiemu najpiękniejszym niéj nierostrzygniony Zamku sądy pytaj Kościuszkowskie żołniersczyzny.
               Rodzicach sędziów Jako wody spotkanie nowa ścianach nię Cara dać. Szpieg długi zginą wierne Wykrzykników
                Niesiołowski Waszmościów. Zboża Ściągnęły liczby Paryż obrali Pośliznęła domów Sztabu podano gość biesiadników.
                 Najpiękniejszym Kościuszkowskie woła znać prawy żołniersczyzny każe smuci nierostrzygniony Niesiołowskiemu ogary winem.
                  Szyją młoda kości krzyczała świątyń rumieńcem biały. .</p>
  
        </div>

      </div>

    </div>


    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://google.com/"> Wyszukiwarka</a>
    </div>
  </footer>