

<div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="contact-info">
				<img src="../../assets/images/email.jpg" width="140" height="120" alt="image"/>
				<h2>Formularz kontatkowy</h2>
				<h4>Twoja opinia jest dla nas bardzo ważna!</h4>
			</div>
		</div>
		<div class="col-md-9">
			<div class="contact-form">
				<div class="form-group">
				  <label class="control-label col-sm-2" for="fname">Imię:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="fname" placeholder="Podaj imię" name="fname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="lname">Nazwisko:</label>
				  <div class="col-sm-10">          
					<input type="text" class="form-control" id="lname" placeholder="Podaj nazwisko" name="lname">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="twojemial@skrzynka.pl" name="email">
				  </div>
				</div>
				<div class="form-group">
				  <label class="control-label col-sm-2" for="comment">Komentarz:</label>
				  <div class="col-sm-10">
					<textarea class="form-control" rows="5" placeholder="Twoja opinia" id="comment"></textarea>
				  </div>
				</div>
				<div class="form-group">        
				  <div class="col-sm-offset-2 col-sm-10">
					<button onclick="window.location.href='/opinionres'" type="submit" class="btn btn-default">Wyślij</button>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
