
    <div class="px-4 px-lg-0">           
            <div class="container text-white py-5 text-center">
                <h1 class="display-4">Koszyk zakupowy</h1>
                <p class="lead mb-0">Cieszymy się, że wybrałeś nasz sklep! </p>
            </div>
            <div class="pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="p-2 px-3 text-uppercase">Produkty</div>
                                            </th>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Cena</div>
                                            </th>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Sztuk</div>
                                            </th>
                                            <th scope="col" class="border-0 bg-light">
                                                <div class="py-2 text-uppercase">Usuń produkt</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="border-0">
                                                <div class="p-2">
                                                    <img src="../../assets/images/pc6.jpg"  alt="" width="100" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                        <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Bardzo mocny komputer</a></h5><span class="text-muted font-weight-normal font-italic"></span>
                                                          
                                                    </div>
                                                </div>
                                            </th>                      
                                            <td class="border-0 align-middle"><strong>42000zł</strong></td>
                                            <td class="border-0 align-middle">
                                                <strong><select class="mdb-select md-form">
                                                    <option value="" disabled selected>Ile sztuk?</option>
                                                    <option value="1"> 1</option>
                                                    <option value="2"> 2</option>
                                                    <option value="3"> 3</option>
                                                    <option value="4"> 4</option>
                                                    <option value="5"> 5</option>
                                                    <option value="6"> 6</option>
                                                    <option value="7"> 7</option>
                                                    <option value="8"> 8</option>
                                                </select></strong>
                                            </td>
                                            <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"><button type="button" class="btn btn-danger">Usuń</button></i></a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="p-2">
                                                    <img src="../../assets/images/lg2.jpg" alt="" width="100" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                        <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">LG 27GL850-B NanoIPS HDR10</a></h5><span class="text-muted font-weight-normal font-italic"></span>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="align-middle"><strong>2149zł</strong></td>
                                            <td class="align-middle">
                                                <strong><select class="mdb-select md-form">
                                                    <option value="" disabled selected>Ile sztuk?</option>
                                                    <option value="1"> 1</option>
                                                    <option value="2"> 2</option>
                                                    <option value="3"> 3</option>
                                                    <option value="4"> 4</option>
                                                    <option value="5"> 5</option>
                                                    <option value="6"> 6</option>
                                                    <option value="7"> 7</option>
                                                    <option value="8"> 8</option>
                                                </select></strong>
                                            </td>
                                            <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"><button type="button" class="btn btn-danger">Usuń</button></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <div class="p-2">
                                                    <img src="../../assets/images/ss2.jpg" alt="" width="100" class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block"></a>SteelSeries Rival 650</h5><span class="text-muted font-weight-normal font-italic"></span>
                                                    </div>
                                                </div>
                                            <td class="align-middle"><strong>489zł</strong></td>
                                            <td class="align-middle">
                                                <strong><select class="mdb-select md-form">
                                                    <option value="" disabled selected>Ile sztuk?</option>
                                                    <option value="1"> 1</option>
                                                    <option value="2"> 2</option>
                                                    <option value="3"> 3</option>
                                                    <option value="4"> 4</option>
                                                    <option value="5"> 5</option>
                                                    <option value="6"> 6</option>
                                                    <option value="7"> 7</option>
                                                    <option value="8"> 8</option>
                                                </select></strong>
                                            </td>
                                            <td class="align-middle">
                                                <a href="#" class="text-dark"><i class="fa fa-trash"><button type="button" class="btn btn-danger">Usuń</button></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        
                        </div>
                    </div>
        
                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                    <div class="col-lg-6">
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Kod promocyjny</div>
                        <div class="p-4">
                            <p class="font-italic mb-4">Tu wprowadź kod promocyjny</p>
                            <div class="input-group mb-4 border rounded-pill p-2">
                                <input type="text" placeholder="Kod promocyjny" aria-describedby="button-addon3" class="form-control border-0">
                                <div class="input-group-append border-0">
                                    <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Zaakceptuj</button>
                                </div>
                         </div>
                        </div>
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Wiadomośc do sprzedającego</div>
                    <div class="p-4">
                        <p class="font-italic mb-4">Tu wpisz informacje dla sprzedającego</p>
                        <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                    </div>
                 </div>
                <div class="col-lg-6">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Podsumowanie</div>
                    <div class="p-4">
                        <p class="font-italic mb-4">Tutaj policzyliśmy Twój rachunek</p>
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-4 border-bottom"><strong class="text-muted">Wartość towaru </strong><strong>46 787zł</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Dostawa i transport</strong><strong>0zł</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Suma</strong>
                                <h5 class="font-weight-bold">46 787zł</h5>
                            </li>
                        </ul>
                        <a href="/payment" class="btn btn-dark rounded-pill py-2 btn-block">Przejdź do płatności</a>
                    </div>
                </div>
            </div>
         </div>
