<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 offset-md-4">
            <div class="card ">
                <div class="card-header">
                    <div class="row">
                        <h3 class="text-xs-center">Szczegóły płatności</h3>
                        <img class="img-fluid cc-img" src="../../assets/images/payment.jpg">
                    </div>
                </div>
                <div class="card-block">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Numer karty</label>
                                    <div class="input-group">
                                        <input type="tel" class="form-control" placeholder="Wprowadź numer karty" />
                                        <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-7">
                                <div class="form-group">
                                    <label><span class="hidden-xs">Data ważności</span><span class="visible-xs-inline"></span> </label>
                                    <input type="tel" class="form-control1" placeholder="MM / YY" />
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 float-xs-right">
                                <div class="form-group">
                                    <label>Kod CV

                                    </label>
                                    <input type="tel" class="form-control" placeholder="CVC" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Imię i nazwisko</label>
                                    <input type="text" class="form-control" placeholder="Imię i nazwisko" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-warning btn-lg btn-block" onclick="window.location.href='/tyou'" >Zapłać</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

